DISCORD_CLIENT_SECRET=pdp22tQtrL0aIaiX9Ks9arReKBtHj5YC
DISCORD_CLIENT_ID=1387046835322880050
NEXTAUTH_SECRET=9fA7ZQmV8rH3kW2SxL0JYcN5eDgM6bT4C1PpKqEwUoBiyOaFhXlRdsIuGnjt
NEXTAUTH_URL=https://scyro.xyz
CLIENT_INVITE_URL=https://discord.com/oauth2/authorize?client_id=1387046835322880050&scope=bot%20applications.commands&permissions=30030655231&redirect_uri=https%3A%2F%2Fdsc.gg%2Fscyrogg
API_SECRET=scyro_prod_9ZrMW8YfE3x1kJ7bCnQ6DS24NwAeHGqTtKpP0XULVmFaycR5Iho_v2
MONGO_URI=mongodb://zenoxxpapaji:zenoxxjijaji7683@98.95.95.65:2612/scyro?authSource=admin
INTERNAL_BOT_URL=http://localhost:4000